# List of files to be ignored by git
# Latex build files:
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.toc
thesis.pdf
Fig_test.pdf

# sublime2 project files
*.sublime-project
*.sublime-workspace

# Extra files specific to thesis
*.db
*.zip