# List of files to be ignored by git
# Latex build files:
*.aux
*.bbl
*.blg
*.log
*.toc
*.lof
*.lot
*.pdf

# sublime2 project files
*.sublime-project
*.sublime-workspace

# Extra files specific to thesis
*.zip
*.db
